<div class="panel panel-default center-block " style="width: 500px;">
  <div class="panel-heading"> 
    <p>
      <strong>Title:</strong>
      <%= @article.title %>
    </p>
  </div>
  <p class="panel-body">
      <strong>Content:</strong>
      <%= @article.content %>
  </p>
</div>

